.homepage-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background: linear-gradient(135deg, #64B5F6, #1E88E5); /* Material blue gradient */
    color: white; /* Keeping text color white */
}
.searchbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
    font-size: 1.2em;
}

footer {
    padding: 10px 0;
    text-align: center;
}

